@charset "utf-8";

*{
    padding: 0px;
    border: 0px;
    font-size: 1.1em;
}

body{
    width: 500px;
    text-align: center;
    margin: auto;
}

ul li a{
    display: block;
    border: 2px 2px 2px black;
}

a{
    text-decoration: none;  
  color: black;
}

a:hover{
    color: red;
    font-weight: bolder;
}

footer{
    background-color: black;
    color:white;
    padding: 10px;
    margin: auto;
    }

footer > a{
    color: white;
}


