@charset "utf-8";

*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 1.1em;

    
}

body{
    width: 600px;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.562);
}


header{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 1.5em;
}

header > h1{
    color: white;
}

header > p{
    color: white;
    font-size: 0.7em;
}

h2{

    color: blueviolet;
    font-size: 1.2em    ;
    background-color: rgba(228, 16, 16, 0.342);
}


li{
    
    background-image: linear-gradient(rgba(169, 22, 214, 0.144) , rgba(26, 26, 202, 0.705)  );
    border-radius: 10px;
    width: 300px;
    margin: auto;
    list-style-type: none;
       
}

a{
    text-decoration: none;  
  color: black;
}

a:hover{
    color: red;
    font-weight: bolder;
}

footer{
    background-color: black;
    color:white;
    padding: 10px;
    margin-top: 10px;
    
    }

footer > a{
    color: white;
    
}


